@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";


@custom-variant dark (&:is(.dark *));

@theme {
  /* تعريف الألوان من صورتك */
  --color-primary: #E50914;
  /* الأحمر السينمائي */
  --color-background: #0B0B0B;
  /* الأسود المحايد */
  --color-secondary: #2F2F2F;
  /* الرمادي للبطاقات */
  --color-muted: #1F1F1F;

  /* إعداد الخط */
  --font-inter: "Inter", ui-sans-serif, system-ui;
}

@layer base {
  :root {
    --background: 0 0% 4%;
    /* تعادل #0B0B0B */
    --foreground: 0 0% 98%;

    --primary: 358 87% 46%;
    /* تعادل #E50914 */
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 18%;
    /* تعادل #2F2F2F */
    --secondary-foreground: 0 0% 100%;

    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 15%;
    --ring: 358 87% 46%;
  }
}


